@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: miama;
    src: url(..//fonts/Miama.otf);
}


* {
    margin: 0;
    padding: 0;
}

/* Common styles */
body {
    font-family: "Inter", sans-serif;
    /* background: rgb(185, 185, 185); */
    background-color: black;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
}


.container {
    max-width: 80%;
    /* margin: 5rem auto; */
    /* margin: 0 auto; */
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;


}

p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

h3,
h1,
h2,
h4,
h5 {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.fitness {
    color: rgb(230, 83, 60);
    font-style: italic;
}

.btn {
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    border-radius: 42px;
    font-family: Inter;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: none;
}

/* Common styles */

/* Nav bar styles  */

.header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.nav-bar {
    margin: 0;
    padding: 0 8rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-links {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 45px;

}

.nav-links p {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}


.nav-home {
    border-radius: 20px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
}





/* Nav bar styles  */

/* Banner section styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-text {
    width: 32rem;
    /* width: 50%; */
}

.banner-text h1 {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 5rem;
}

.banner-text p {
    margin-bottom: 25px;
}

.span {
    font-family: miama;
    font-size: 8rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.banner-btn {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 15px;
}

.btn-black {
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(255, 255, 255);
}

.card {
    display: flex;
    justify-content: flex-end;
}

.banner-image {
    position: relative;
}

.card1 {
    width: 12rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 0 20px 20px;

    position: absolute;
    top: 25%;
    right: -15%;

}

.card1 h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
}

.card1 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}


.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 15%;
    left: -25%;

}

.card2 h4 {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
}

.card2-content {
    padding: 20px 20px 20px 10px;
}

#circle {
    background: rgb(230, 83, 60);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}



/* Banner section styles */

/* change habits styles */
.change-habit {
    margin-top: 6.25rem;
}

.habit {
    text-align: center;

}

.habit-h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}


/* change habits styles */

/* run extra mile styles */

.run {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-content {
    padding-top: 40px;
    padding-left: 50px;

}

.run-content h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 15px;
}

.run-content p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
}

.run img {
    border-radius: 18px;
    width: 70%;
    /* height: 20%; */
    /* height: 320px; */
    /* object-fit: cover; */
    /* object-position: 70% top; */

}

.run-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

/* run extra mile styles */