@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: miama;
    src: url(..//fonts/Miama.otf);
}


* {
    margin: 0;
    padding: 0;
}

/* Common styles */
body {
    font-family: "Inter", sans-serif;
    /* background: rgb(185, 185, 185); */
    background-color: black;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
}


.container {
    max-width: 80%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;


}

p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    /* text-align: center; */
}

h3,
h1,
h2,
h4,
h5 {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.fitness {
    color: rgb(230, 83, 60);
    font-style: italic;
}

.btn {
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    border-radius: 42px;
    font-family: Inter;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;
    max-width: 220px;
}

/* Common styles */

/* Nav bar styles  */

.header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.nav-bar {
    margin: 0;
    padding: 0 8rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-links {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 45px;

}

.nav-links p {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}


.nav-home {
    border-radius: 20px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
}

.bars {
    display: none;
}

/* Nav bar responsive */
/* 
@media screen and (max-width: 576px) {
    .nav-bar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .nav-links {
        display: none;
    }

    .bars {
        display: block;
        color: rgb(255, 255, 255);
    }

} */

/* Nav bar responsive */
@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    .bars {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        cursor: pointer;
    }
}


/* Nav bar styles  */

/* Banner section styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-text {
    width: 32rem;
    /* width: 50%; */
}

.banner-text h1 {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 5rem;
}

.banner-text p {
    margin-bottom: 25px;
}

.span {
    font-family: miama;
    font-size: 8rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.banner-btn {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 15px;
}

.btn-black {
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(255, 255, 255);
}

.card {
    display: flex;
    justify-content: flex-end;
}

.banner-image {
    position: relative;
}

.card1 {
    width: 12rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 0 20px 20px;

    position: absolute;
    top: 25%;
    right: -15%;

}

.card1 h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
}

.card1 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}


.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 15%;
    left: -25%;

}

.card2 h4 {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
}

.card2-content {
    padding: 20px 20px 20px 10px;
}

#circle {
    background: rgb(230, 83, 60);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.banner-btn .btn-red {
    display: none;
}


@media screen and (max-width: 576px) {
    .btn {
        max-width: 150px;
    }

    .banner {
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
    }

    .banner-text {
        max-width: 100%;

    }

    .banner-text h1 {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 36px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: start;
        padding-bottom: 1.8rem;
    }

    .banner-text p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
    }


    .banner-btn .btn-red1 {
        display: none;
    }

    .banner-btn .btn-red {
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-size: 13px;
        font-weight: 600;
    }

    .banner-btn .btn-black {
        display: flex;
        justify-content: center;
        font-size: 13px;
        font-weight: 600;
        padding: 16px 25px
    }

    .banner-image {
        width: 100%;
        text-align: center;
    }

    .banner-image img {
        width: 90%;
        height: auto;
    }

    .span {
        font-size: 4.5rem;
        font-weight: 400;
    }

    .card1 {
        width: 9rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        padding: 15px 0 15px 15px;

        position: absolute;
        top: 9%;
        right: -8%;

    }

    .card1 p {
        font-size: 10px;
    }

    .card2 {
        width: 11rem;
        bottom: 38%;
        left: -7%;

    }

}

/* Banner section styles */

/* change habits styles */
.change-habit {
    margin-top: 6.25rem;
}

.habit {
    text-align: center;
    padding-bottom: 6rem;

}

.habit-h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}



.habit-card {
    max-width: 14.5rem;
    text-align: center;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(4, 14.5rem);
    /* grid-template-rows: repeat(1); */
    gap: 2.5rem;
    padding-left: 6rem;
}

.habit-card h6 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.habit-img1 {
    border-radius: 50%;
}



@media screen and (max-width: 576px) {
    .habit-card {
        grid-template-columns: repeat(1, 14.5rem);
        justify-items: center;
        padding: 4rem;
    }

}

/* change habits styles */

/* run extra mile styles */

.run {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-content {
    padding-top: 40px;
    padding-left: 50px;

}

.run-content h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 15px;
}

.run-content p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
}

.run img {
    border-radius: 18px;
    width: 70%;
    /* scale: 1.33; */
    /* height: 20%; */
    /* height: 320px; */
    /* object-fit: cover; */
    /* object-position: 70% top; */

}

.run-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

/* run extra mile responsive */

@media screen and (max-width: 576px) {
    .run {

        flex-direction: column;
        gap: 0;
    }

    .run-content h2 {
        font-size: 35px;
    }

    .run-content p {

        font-size: 14px;
    }

    .run-img {
        padding: 45px 0;
    }

    .run img {
        width: 85%;
    }

    .btn-res {
        max-width: 300px;
        padding: 13px 80px;
    }

}



/* run extra mile styles */

/* bmi calculator */
.bmi-header {
    text-align: start;

}

.bmi {
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bmi-table {
    padding: 3.5rem;

}

.bmi table {
    width: 22rem;
    text-align: start;
    /* margin: 20px; */
    /* margin-bottom: 10rem; */
    /* margin-left: 5rem; */


}

.bmi-table th {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    text-align: start;
}

.bmi-table td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
}

.bmi-table h4 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    padding: 0 0 3rem 0;
    /* padding-top: 3.5rem; */

}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);

}

/* 
form {
    display: flex;
    flex-direction: column;
} */

input[type="text"],
select {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    border-radius: 8px;

}

.bmi-calculator {
    max-width: 35rem;
}

.bmi-calculator h4 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    text-align: left;
    padding-bottom: 0.5rem;

}

.bmi-calculator p {
    padding-bottom: 2rem;
}


.bmi-cal-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 10px;
}

.bmi-cal-content input[type="text"]:nth-child(3) {
    grid-column: span 1;
}

.bmi-cal-content select:nth-child(4) {
    grid-column: span 1;
}

.bmi-cal-content select:nth-child(5) {
    grid-column: span 2;
}

/* .bmi-cal-content button {
    grid-column: span 2;
    width: 100%;
}
 */


@media screen and (max-width: 576px) {
    .bmi {
        flex-direction: column;
    }

    .bmi-header {
        text-align: start;
    }

    .bmi-header h2 {
        font-size: 35px;

    }


    .bmi-calculator {
        /* max-width: 35rem; */
    }

    .bmi-calculator h4 {
        color: rgb(255, 255, 255);
        font-size: 28px;
        font-weight: 900;
        text-align: left;
        padding-bottom: 0.5rem;

    }

    .bmi-calculator p {
        padding-bottom: 2rem;
    }

    .bmi-cal-content input[type="text"]:nth-child(1) {
        grid-column: span 1;
        max-width: 170px;
    }

    .bmi-cal-content input[type="text"]:nth-child(2) {
        grid-column: span 1;
        max-width: 170px;
    }

    .bmi-cal-content input[type="text"]:nth-child(3) {
        grid-column: span 1;
        max-width: 170px;
    }

    .bmi-cal-content select:nth-child(4) {
        grid-column: span 1;
        max-width: 170px;

    }

    .bmi-cal-content select:nth-child(5) {
        grid-column: span 2;
        max-width: 350px;
    }


}


/* bmi calculator */


/* Meet our team  */






/* Meet our team  */